/* Thanks to HTML5 Boilerplate for theese classes */
/* line 4, ../sass/helpers.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 14, ../sass/helpers.scss */
.ir br {
  display: none;
}

/* line 18, ../sass/helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 23, ../sass/helpers.scss */
.visually_hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 34, ../sass/helpers.scss */
.visually_hidden.focusable:active,
.visually_hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 43, ../sass/helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 48, ../sass/helpers.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 52, ../sass/helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 55, ../sass/helpers.scss */
.clearfix {
  zoom: 1;
}
