/* line 2, ../../sass/controls/switcher.scss */
#switcher-cycle ul {
  display: block;
  margin: 0;
  padding: 0;
  clear: both;
  height: 84px;
  overflow: hidden;
}
/* line 9, ../../sass/controls/switcher.scss */
#switcher-cycle ul li {
  display: block;
  margin-right: 4px;
  margin-bottom: 4px;
  height: 40px;
  width: 40px;
  background-color: #eee;
  text-align: center;
  line-height: 40px;
  float: left;
}
/* line 22, ../../sass/controls/switcher.scss */
#switcher-cycle.lu-switch-a li.a {
  background-color: #cde;
}
/* line 27, ../../sass/controls/switcher.scss */
#switcher-cycle.lu-switch-b li.b {
  background-color: #ecd;
}
/* line 32, ../../sass/controls/switcher.scss */
#switcher-cycle.lu-switch-c li.c {
  background-color: #dec;
}

/* line 38, ../../sass/controls/switcher.scss */
#switcher-roo-expand-o-matic {
  background: #cde;
  padding: 10px;
}
/* line 41, ../../sass/controls/switcher.scss */
#switcher-roo-expand-o-matic p {
  height: 64px;
  overflow: hidden;
}
/* line 46, ../../sass/controls/switcher.scss */
#switcher-roo-expand-o-matic.lu-switch-on .expand {
  display: none;
}
/* line 49, ../../sass/controls/switcher.scss */
#switcher-roo-expand-o-matic.lu-switch-on p {
  height: 100%;
}
/* line 54, ../../sass/controls/switcher.scss */
#switcher-roo-expand-o-matic.lu-switch-off .collapse {
  display: none;
}

/* line 60, ../../sass/controls/switcher.scss */
#switcher-flows {
  font-size: 16px;
}
/* line 62, ../../sass/controls/switcher.scss */
#switcher-flows ol {
  list-style: none;
  padding: 10px;
  background: #cde;
}
/* line 67, ../../sass/controls/switcher.scss */
#switcher-flows li {
  display: none;
}
/* line 71, ../../sass/controls/switcher.scss */
#switcher-flows.lu-switch-intro .intro {
  display: block;
}
/* line 76, ../../sass/controls/switcher.scss */
#switcher-flows.lu-switch-running .running {
  display: block;
}
/* line 81, ../../sass/controls/switcher.scss */
#switcher-flows.lu-switch-walking .walking {
  display: block;
}
/* line 86, ../../sass/controls/switcher.scss */
#switcher-flows.lu-switch-end .end {
  display: block;
}
