/* line 4, ../../sass/controls/tip.scss */
.lu-tip {
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: -10px;
  padding: 5px;
  position: absolute;
}
