@import "normalize.scss";
@import "helpers.scss";
@import "compass/css3";
@import "buttons.scss";

//Colors
$white: #fff;
$light-grey: #fafafa;
$light-medium-grey: #ECECEC;
$medium-grey: #444;
$dark-grey: #222;
$black: #000;
$blue: #369;
$magenta: #EB174D;

//Type
$serif: "Georgia", "Times New Roman", serif;
$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 14px;
$base-line-height: 21px;
$title-line-height: 120%;