@import 'base.scss';

html {
  background-color: $light-grey;
  background-image: url( "../../assets/texture.png" );
}

body {
  font-family: $sans-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $dark-grey;
  padding: 10px;
}

a {
  color: $blue;
  text-decoration: underline;
}

a:visited {
  color: $medium-grey;
}

a:hover {
  color: $magenta;
}

h1,
h2 {
  font-family: $serif;
  font-weight: normal;
  color: $medium-grey;
  text-shadow: 0 1px 1px $white;
}

h1 {
  font-size: 48px;
  line-height: $title-line-height;
}

h2 {
  font-size: 26px;
  line-height: $title-line-height;
}

h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
  color: $medium-grey;
  margin-top: 2em;
  margin-bottom: 1em;
}

h3 {
  font-size: 22px;
  line-height: $title-line-height;
}

h4 {
  font-size: 18px;
  line-height: $title-line-height;
}

h5 {
  font-size: 16px;
  line-height: $title-line-height;
}

h6 {
  font-size: 14px;
  line-height: $title-line-height;
}

code {
  font-weight: bold;
}

//Override the default gist look and feel
.gist {
  font-size: 11px !important;
  line-height: 16px !important;
  margin: $base-line-height 0 !important;
  .gist-file {
    border: none !important;
  }
  .gist-data {
    background-color: $light-grey !important;
    padding: $base-font-size !important;
    border: 1px solid $light-medium-grey !important;
  }
  .gist-meta {
    background-color: transparent !important;
    padding: 2px 0 !important;
    .a {
      color: $blue !important;
      text-decoration: underline !important;
      &:visited {
        color: $medium-grey !important;
      }
      &:hover {
        color: $magenta !important;
      }
    }
  }
}

//Import Control Sass Files
@import 'controls/switcher.scss';
@import 'controls/list.scss';
@import 'controls/tip.scss';

//Layout Booyah!
#main {
  padding: 36px 0;
}

#content {
  margin-bottom: 64px;
}

#must-see {
  font-size: 1.25em;
}

.section {
  margin-top: 48px;
  border-top: 3px solid $light-medium-grey;
}

.sub-section {
  margin-top: 48px;
  border-top: 1px solid $light-medium-grey;
}

.section .top,
.control-info {
  font-size: .7857em;
}

#intro {
  border-top: 0;
  margin-top: 0;
}

#container {
  position: relative;
  background-color: $white;
  max-width: 1002px;
  min-width: 746px;
  width: 80%;
  box-shadow: $light-medium-grey 0 0 48px 0;
  padding-top: 36px;
  margin: 0
}

#branding {
  float: left;
  margin-left: 0.625%;
  margin-right: 0.625%;
  width: 15.417%;
}

#logo {
  margin: 32px auto;
  height: 54px;
  width: 54px;
  background-image: url( "../../assets/logo.png" );
}

#content {
  float: left;
  margin-left: 0.625%;
  margin-right: 16.667%;
  width: 65.417%;
}

#footer {
  float: left;
  width: 98.75%;
  margin-left: 0.625%;
  margin-right: 0.625%;
  margin-bottom: 0.625%;
  .content {
    height: 336px;
    background-color: $light-medium-grey;
    padding: 48px;
  }
}
