/*// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";*/
/* normalize.css 2012-01-22T23:30 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Neutralise smaller font-size in 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none; }

/* 2 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9 
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3 
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/* 
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  margin: 0 auto;
  width: 100%; }

.grid > .unit_1 {
  float: left;
  width: 7.083%;
  margin-left: 0.625%;
  margin-right: 0.625%; }

.grid > .unit_2 {
  float: left;
  width: 15.417%;
  margin-left: 0.625%;
  margin-right: 0.625%; }

.grid > .unit_3 {
  float: left;
  width: 23.75%;
  margin-left: 0.625%;
  margin-right: 0.625%; }

.grid > .unit_4 {
  float: left;
  width: 32.083%;
  margin-left: 0.625%;
  margin-right: 0.625%; }

.grid > .unit_5 {
  float: left;
  width: 40.417%;
  margin-left: 0.625%;
  margin-right: 0.625%; }

.grid > .unit_6 {
  float: left;
  width: 48.75%;
  margin-left: 0.625%;
  margin-right: 0.625%; }

.grid > .unit_7 {
  float: left;
  width: 57.083%;
  margin-left: 0.625%;
  margin-right: 0.625%; }

.grid > .unit_8 {
  float: left;
  width: 65.417%;
  margin-left: 0.625%;
  margin-right: 0.625%; }

.grid > .unit_9 {
  float: left;
  width: 73.75%;
  margin-left: 0.625%;
  margin-right: 0.625%; }

.grid > .unit_10 {
  float: left;
  width: 82.083%;
  margin-left: 0.625%;
  margin-right: 0.625%; }

.grid > .unit_11 {
  float: left;
  width: 90.417%;
  margin-left: 0.625%;
  margin-right: 0.625%; }

.grid > .unit_12 {
  float: left;
  width: 98.75%;
  margin-left: 0.625%;
  margin-right: 0.625%; }

.grid > .post_1 {
  margin-right: 8.333%; }

.grid > .post_2 {
  margin-right: 16.667%; }

.grid > .post_3 {
  margin-right: 25%; }

.grid > .post_4 {
  margin-right: 33.333%; }

.grid > .post_5 {
  margin-right: 41.667%; }

.grid > .post_6 {
  margin-right: 50%; }

.grid > .post_7 {
  margin-right: 58.333%; }

.grid > .post_8 {
  margin-right: 66.667%; }

.grid > .post_9 {
  margin-right: 75%; }

.grid > .post_10 {
  margin-right: 83.333%; }

.grid > .post_11 {
  margin-right: 91.667%; }

.grid > .post_12 {
  margin-right: 100%; }

.grid > .pre_1 {
  margin-left: 8.333%; }

.grid > .pre_2 {
  margin-left: 16.667%; }

.grid > .pre_3 {
  margin-left: 25%; }

.grid > .pre_4 {
  margin-left: 33.333%; }

.grid > .pre_5 {
  margin-left: 41.667%; }

.grid > .pre_6 {
  margin-left: 50%; }

.grid > .pre_7 {
  margin-left: 58.333%; }

.grid > .pre_8 {
  margin-left: 66.667%; }

.grid > .pre_9 {
  margin-left: 75%; }

.grid > .pre_10 {
  margin-left: 83.333%; }

.grid > .pre_11 {
  margin-left: 91.667%; }

.grid > .pre_12 {
  margin-left: 100%; }

/* Thanks to HTML5 Boilerplate for theese classes */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.ir br {
  display: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visually_hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visually_hidden.focusable:active,
.visually_hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

html {
  background-color: #fafafa;
  background-image: url("../assets/texture.png"); }

body {
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  padding: 10px; }

a {
  color: #336699;
  text-decoration: underline; }

a:visited {
  color: #444; }

a:hover {
  color: #EB174D; }

h1,
h2 {
  font-family: "Georgia","Times New Roman", serif;
  font-weight: normal;
  color: #444;
  text-shadow: 0 1px 1px #fff; }

h1 {
  font-size: 48px;
  line-height: 120%; }

h2 {
  font-size: 26px;
  line-height: 120%; }

h3,
h4,
h5,
h6 {
  font-family: "HelveticaNeue","Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  margin-top: 2em;
  margin-bottom: 1em; }

h3 {
  font-size: 22px;
  line-height: 120%; }

h4 {
  font-size: 18px;
  line-height: 120%; }

h5 {
  font-size: 16px;
  line-height: 120%; }

h6 {
  font-size: 14px;
  line-height: 120%; }

code {
  font-weight: bold; }

#main {
  padding: 36px 0; }

#content {
  margin-bottom: 64px; }

#logo {
  margin: 36px auto;
  height: 48px;
  width: 48px;
  background-image: url("../assets/logo.png"); }

#must-see {
  font-size: 1.25em; }

#container {
  position: relative;
  background-color: #fff;
  max-width: 1002px;
  min-width: 746px;
  box-shadow: #ECECEC 0 0 48px 0;
  padding-top: 36px;
  margin: 0; }

.section {
  margin-top: 48px;
  border-top: 3px solid #ECECEC; }

.sub-section {
  margin-top: 48px;
  border-top: 1px solid #ECECEC; }

.section .top,
.control-info {
  font-size: .7857em; }

#intro {
  border-top: 0;
  margin-top: 0; }

#tiger-toe {
  list-style: none;
  margin: 0;
  padding: 0; }

#tiger-toe li {
  display: inline-block; }

#tiger-toe li a {
  background-color: #ECECEC;
  display: block;
  padding: 2px 13px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  color: #5e5e61;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 1px #fefefe; }

#tiger-toe .lu-selected a {
  background-color: #336699;
  color: #fefefe;
  text-shadow: none; }

#tree {
  padding: 0; }

#tree ul {
  margin-top: 1em;
  margin-left: 1em;
  padding: 0; }

#tree li {
  margin: 1em 0;
  list-style: none; }

#tree li a {
  font-size: 13px;
  display: block;
  float: left;
  clear: both;
  min-width: 140px; }

#tree .branch {
  display: none;
  visibility: hidden;
  margin-left: 1em;
  margin-top: 1em; }

#tree > .lu-selected > a {
  background-color: #336699;
  display: block;
  padding: 2px 6px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fefefe;
  text-decoration: none; }

#tree .lu-selected > .branch {
  display: block;
  visibility: visible; }

#tree .lu-selected > .branch > .lu-selected > a {
  font-weight: bold; }

.gist {
  font-size: 11px;
  margin: 21px 0 !important; }

.gist-file {
  border: none !important; }

.gist-meta {
  background-color: transparent !important;
  padding: 0 !important; }

.gist-meta a {
  color: #336699 !important;
  text-decoration: underline !important; }

.gist-meta a:visited {
  color: #444 !important; }

.gist-meta a:hover {
  color: #EB174D !important; }

.gist-data {
  background-color: #fafafa !important;
  padding: 15px !important;
  border: 1px solid #D2d2d2 !important; }

#toolbar-list .lu-selected {
  font-weight: bold; }

footer {
  height: 336px;
  background-color: #ECECEC;
  margin-bottom: 5.85px; }

footer .content {
  padding: 48px; }

/*****************************************************************************
  Buttons
*****************************************************************************/
.split-button,
a.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: 1px solid #cacaca;
  padding: 6px 16px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #5e5e61;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 4px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px #fff;
  text-align: center;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  line-height: 16px;
  background: -moz-linear-gradient(center top, #ececec 0%, #dddddd 100%) repeat scroll 0 0 #ececec;
  background: -webkit-linear-gradient(center top, #ececec 0%, #dddddd 100%) repeat scroll 0 0 #ececec; }

a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #006da2;
  border: 1px solid #b1b1b1; }

a.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  color: #006da2;
  border: 1px solid #b1b1b1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset; }

a.button.lu-disabled,
button.lu-disabled,
input[type="submit"].lu-disabled,
input[type="reset"].lu-disabled,
input[type="button"].lu-disabled {
  color: #9ea0a3;
  border: 1px solid #dcdcdc;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.25) inset; }

.button.full_width,
button.full_width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important; }

.button-group a.button,
.button-group button,
.button-group input[type="submit"],
.button-group input[type="reset"],
.button-group input[type="button"] {
  padding: 6px 16px;
  position: relative;
  margin-left: -5px;
  border-radius: 0;
  z-index: 0;
  line-height: 16px; }
.button-group a.button:first-child,
.button-group button:first-child,
.button-group input[type="submit"]:first-child,
.button-group input[type="reset"]:first-child,
.button-group input[type="button"]:first-child {
  margin-left: 0px;
  -moz-border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px; }
.button-group a.button:last-child,
.button-group button:last-child,
.button-group input[type="submit"]:last-child,
.button-group input[type="reset"]:last-child,
.button-group input[type="button"]:last-child {
  -moz-border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px; }
.button-group a.button:hover,
.button-group button:hover,
.button-group input[type="submit"]:hover,
.button-group input[type="reset"]:hover,
.button-group input[type="button"]:hover {
  z-index: 1; }
.button-group a.button:active,
.button-group button:active,
.button-group input[type="submit"]:active,
.button-group input[type="reset"]:active,
.button-group input[type="button"]:active {
  z-index: 1; }
.button-group a.button.lu-disabled,
.button-group button.lu-disabled,
.button-group input[type="submit"].lu-disabled,
.button-group input[type="reset"].lu-disabled,
.button-group input[type="button"].lu-disabled {
  z-index: 0; }

.split-button {
  position: relative;
  padding: 0px; }

.split-button .label {
  line-height: 16px;
  display: inline-block;
  color: #5e5e61;
  text-decoration: none;
  padding: 6px 16px;
  padding-right: 16px;
  background: #ececec;
  cursor: pointer; }

.split-button .trigger {
  line-height: 16px;
  display: inline-block;
  border-left: 1px solid #cacaca;
  margin-left: -5px;
  padding: 6px 16px;
  padding-left: 16px; }

.split-button .trigger span {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  content: "↓";
  display: inline-block;
  height: 0;
  opacity: 0.3;
  text-indent: -99999px;
  vertical-align: middle;
  width: 0; }

.split-button .menu {
  display: none;
  background-clip: padding-box;
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
  display: none;
  float: left;
  left: 0;
  list-style: none outside none;
  margin: 0;
  min-width: 160px;
  padding: 4px 0;
  position: absolute;
  top: 100%;
  z-index: 1000;
  text-align: left;
  margin-top: 1px; }

.split-button .menu li a {
  padding: 6px 16px;
  display: block;
  color: #5e5e61;
  text-decoration: none;
  cursor: pointer; }

.split-button .menu li a:hover {
  background: #f7fcda; }

.split-button .lu-active {
  display: block; }
